/*thẻ đẻ reset all*/
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    font-size:14px;
    color:#333;
    font-weight:400px;
    line-height:1.25;
    background-color:#fafafa;
    font-family:'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
img{
    max-width:100%;
}
.section{
    float:left;
    width:100%;
}
.container{
    float:none;
    width: 1200px;
    margin: 0 auto;
}
/*header*/

/*nav*/

/*main*/
.sidebar{
    float:left;
    width:25%; /*tỷ lệ*/
}
.content{
    float:left;
    width:75%;
}
/*footer*/
.footer li i{
   font-size:20px;
    color:#ffa500;
}
.footer li i:hover{
    color:#ffa500;
}