*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    font-size:16px;
    color:#333;
    font-weight:400px;
    line-height:1.25;
    background-color: #008683;
    font-family:'Montserrat', sans-serif;
}
img{
    max-width:100%;
    display: block;
}
a{
    color: #a035fd;
    text-decoration:none;
    font-size:14px;
}
.row{
    display:flex;
}
.col-4{
    width:33,3%;
}
.main{
    padding: 40px;
    background-color:#fafafa;
}
h1{
    margin:auto;
    color:#fff;
    font-weight:700;
}
.head{
    padding:40px;
    background-color: #a035fd;
}
.pass{
    margin-top:20px;
    margin-bottom:20px;
}
.mail{
    margin-top:20px;
    margin-bottom:20px;
}
.check{
    font-size:14px;
    margin-bottom:20px;
}
button{
    width:100%;
    padding-top:5px;
    padding-bottom:5px;
    background-color: #a035fd;
    color:#fff;
    margin-bottom:20px;
}
.log{
    color:#333;
}