*{
    font-family:arial;
}
h1{
    font-size:27px;
}
.date{
    font-size:13px;
    font-weight:500;
}
.time{
    color:#999;
}
p{
    font-size:15px;
}
.tin{
    color:#378b36;
}
.linkbai{
    color:#00f;
    text-decoration:none;
}
.title{
    color:#252525;
    font-style:italic;
    font-size:14px;
}