*{
    margin:0px;
}
body{
    background-color:#333;
}
/*head*/
.head {
    padding:20px 0px 20px 20px;
    background-color: #0bb78f;
    color:#fff;
    width:325px
}
/*contact*/
.form-label{
    margin-bottom:5px;
}
.out{
    display:flex;
}
p{
    padding-top:5px;
    color:#666;
}
span{
    color:red;
}
.left{
    margin-right:10px;
}
.phone{
    margin-top:20px;
    margin-bottom:20px;
}
.mail{
    margin-top:20px;
}
.contact{
    width:305px;
    background-color: #fff;
    padding: 20px;
}

