*{
    margin:0px;
}
.out{
    display:flex;
}
p{
    color:#666;
}
span{
    color:red;
}
.left{
    margin-right:10px;
}
.phone{
    margin-top:20px;
    margin-bottom:20px;
}
.mail{
    margin-top:20px;
}
.head {
    padding:20px 0px 20px 20px;
    background-color: #0bb76a;
    color:#fff;
    width:325px
 }
.contact{
    width:305px;
    background-color: #dedede;
    padding: 20px;
}
